<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
	<wicket:head>
		<title>NOCV - No more CVs</title>
    </wicket:head>
</head>
<body>

	<wicket:extend>


    <form wicket:id="newuser_form">
    
    <ul>
    	<li>Nombre usuario *</li>
    	<li>
    		<input wicket:id="username" type="text" >
    	</li>
     
    	<li>Edad (opcional)</li>
    	<li class="edad">
    		<!--<input wicket:id="title" type="text" >-->
    	</li>
     
    	<li>Descripcion libre (opcional, pero recomendada)</li>
    	<li class="descripcion">
    		<!--<textarea wicket:id="descripcion" cols="76" rows="5" name="descripcion"></textarea>-->
    	</li>
     
    	<li><input wicket:id="submit" value="Enviar" type="submit"></li>
    
    </ul>
    
    </form>
	

		
	</wicket:extend>

</body>
</html>