<wicket:extend>


    <form wicket:id="newuser_form">
    
    <ul>
    	<li>Nombre usuario *</li>
    	<li>
    		<input wicket:id="username" type="text" >
    	</li>
     
    	<li>Nombre (opcional)</li>
    	<li class="nombre">
    		<input wicket:id="nombre" type="text" >
    	</li>

    	<li>Password</li>
    	<li class="password">
    		<input wicket:id="password" type="password" >
    	</li>

    	<li>Confirmacion</li>
    	<li class="passwordConfirmacion">
    		<input wicket:id="passwordConfirmacion" type="password" >
    	</li>
     
     
    	<li><input wicket:id="submit" value="Enviar" type="submit"></li>
    
    </ul>
    
    </form>
	

		
</wicket:extend>

