<wicket:extend>


    <form wicket:id="nocv_form">
    
    <ul>
    	<li>Titulo descriptivo (aparece en el listado de usuarios)</li>
    	<li>
    		<input wicket:id="titulo" type="text" >
    	</li>
     
    	<li>Resumen (aparece en el listado de usuarios) Max: X caracteres</li>
    	<li class="resumen">
    		<textarea wicket:id="resumen"></textarea>
    	</li>

    	<li>Skill (TODO: agregar un listview o similar)</li>
    	<li class="skills">
    			
    	</li>

    	<li>Disponibilidad horaria</li>
    	<li class="dhType">
    		<select wicket:id="disponibilidadHorariaType" name="disponibilidadHorariaType" />
    	</li>
     
     	<li>Roles</li>
    	<li class="passwordConfirmacion">
    		
    	</li>
    	
    	<li>Observaciones (texto libre)</li>
    	<li class="observaciones">
    		
    	</li>
    	
     
    	<li><input wicket:id="submit_profile" value="Enviar" type="submit"></li>
    
    </ul>
    
    </form>
	

		
</wicket:extend>

