<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
	<wicket:head>
		<title>NOCV - No more CVs</title>
    </wicket:head>
</head>
<body>

 
	<wicket:extend>
	 <hr/>
		<h2>NOCV - HOME PAGE</h2>
		
	
		<a href="#" class="listUsers" wicket:id="listUsersLink"> 
		   <div class="listUsersLink" wicket:id="listUsersLabel" ></div>
	    </a>
		
 	<hr/>	

	</wicket:extend>




</body>
</html>