 
	<wicket:extend>
	 <hr/>
		<h2>Usuarios</h2>
		<ul>
		<div wicket:id="user" class="user">
   
    		<li>
    			<img src="#" width="50" height="50" />
    			<div class="viewUserName" wicket:id="usernameLabel"></div>
    			<br>
    			(alta: XX/YY/AAAA - Visto: XX veces - Clicks: YY veces)<br>
    			(resumen)<br>
    			(Agregar)(tags: aa, bb, cc, dd)
    			(<a  wicket:id="viewUserLink" class="viewUserLinkClass" href="#">
    			   <div class="viewUserName" wicket:id="viewUserLinkLabel"></div>
    			</a>)
    			
    		</li>
    		 
   
   		</div>
		</ul>

 	<hr/>	

	</wicket:extend>